mqtt:
  - cover:
      name: "Gate"
      unique_id: gate_cover
      device_class: "gate"
      command_topic: "homeassistant/gate/set"
      state_topic: "homeassistant/gate/state"
      #     position_topic: "homeassistant/gate/state"
      availability:
        - topic: "homeassistant/gate/availability"
      qos: 0
      retain: true
      payload_open: "OPEN"
      payload_close: "CLOSE"
      payload_stop: "STOP"
      state_open: "open"
      state_opening: "opening"
      state_closed: "closed"
      state_closing: "closing"
      payload_available: "online"
      payload_not_available: "offline"
      optimistic: false
      value_template: "{{ value }}"
      tilt_status_topic: "homeassistant/gate/tilt-state"
      tilt_status_template: '{{ value_json["PWM"]["PWM1"] }}'
      tilt_min: 0
      tilt_max: 180
      tilt_closed_value: 70
      tilt_opened_value: 180
