mqtt:
    host: 192.168.1.249
    port: 1883
    server_status_topic: "homeassistant/status"
    user: homeassistant
    password: keLeT4oreilungadaeghieh8Eek3oot5
#    discovery: true #defaults to false, uncomment to enable homeassistant discovery
#    discovery_prefix: homeassistant #change to match with setting of homeassistant
doors:
    -
        id: "gate"
        name: "Main Gate"
        relay_stop: 22
        relay_open: 23
        relay_close: 24
        relay_step: 25
        state: 17
        button: 27
        state_mode: 'closed' #defaults to normally open, uncomment to switch
        invert_relay: true #defaults to false, uncomment to turn relay pin on by default
        state_topic: "homeassistant/gate/state"
        command_topic: "homeassistant/gate/set"
        availability_topic: "homeassistant/gate/availability"

