[Unit]
Description=MQTTGate
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=pi
WorkingDirectory=/home/pi/Development/majordomo/mqtt_gate
ExecStart=/usr/bin/python3 -u mqtt_gate/main.py > mqtt_gate.log 2>&1

[Install]
WantedBy=multi-user.target