[Unit]
Description=MQTTGate
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User=pi
WorkingDirectory=/home/pi/Development/majordomo
ExecStart=/usr/bin/python3 -u /home/pi/Development/majordomo/mqtt_gate/main.py

[Install]
WantedBy=multi-user.target